@font-face {
    font-family: 'loveya';
    src: url('../fonts/LoveYaLikeASister.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sketchbook';
    src: url('../fonts/Sketch_Block.ttf');
    font-weight: normal;
    font-style: normal;
}

html{
    height: 100%;
}

body {
	background-image: url('../img/stressed_linen_@2X.png');
	background-repeat: repeat;
    height: 100%;
}

div#main-container{
    height: 100%;
}

div#main_img_cont {
    position: fixed;
}

img#main_img{

    position: fixed;
    height: 100%;
}


div#home_main_text_container{
    display: block;
}

div#work_main_text_container{
    display: none;
}



/*@media all and (max-height: 700px){
   img#main_img{height: 700px;}
}*/

/*@media all and (min-height: 700px){
   img#main_img{width: 100%; }
}*/

.loveya{
   font-family: loveya, Palatino Linotype;
}

div#features{
   text-align: center;
   margin: 30px 0;
}

div#features p a{
  color: #996600;
  font-size: 1.25em;
}

.dots{
  color: #996600;
  font-size: 2em;
}

h1.title{
    font-family: loveya, Palatino Linotype;
    font-size: 4em;
    color: #996600;
    line-height: 1em;
    margin-top: 2em;
}

div.sub_title{
    font-family: loveya, Palatino Linotype;
    font-size: 2.5em;
    color: #669999;
    line-height: 0.5em;

}

ul.skills_list{
    list-style-type: none;
    margin-top: 0.5em;
}

img#video_img{
  max-height: 80px;
}

p#coding_skills{
    font-family: loveya, Palatino Linotype;
    font-size: 25px; color: #669999;
    line-height: 1em;
}

#contacts{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 140px;
}

div.logo{
  float:left;
  margin: 0px 40px;
}

div.logo p{
  font-size: 1.25em;
  color: #996600;
}

i {
  font-size:  40px;
  color: #996600;
}


img#linkedin{
  height: 22px;
  width: 22px;
}



div.bottom_info_box{
   margin-top: 1em;
}

.margin-top-small{
  margin-top: 2em;
}



/*div.bottom_info_box div:not(:first-child) {
    margin-left: 25px;
    margin-bottom: 50px;
}

div#bottom_info_box2 div:not(:first-child) {
    margin-left: 75px;
    margin-bottom: 50px;
}*/


.twitter-follow-button{
    padding-bottom: 2px;
    font-size: 20px;
}


p#email_text{
  font-family: loveya, Palatino Linotype;
  font-size: 1.25em;
  color: #636363;
}

.link{
  font-family: loveya, Palatino Linotype;
  font-size: 0.5em;
  color: #996600;
}
/* Workpage */
ul#work_sub_list{
    color: #669999;
    font-size: 1em;

}

img#git{
    max-height: 100px;
}

img#stack{
    max-height: 100px;
}

img#portfolio{
    max-height: 150px;
    margin-left: 20px;
}

h2.link_text{
    text-align: center;
    font-size: 30px;
}

a.text_link{
  color: #996600;
}

div.modal{
  background-color: black;
}

div#video_frame{
  text-align: center;
}

h3#modal_title{
  text-align: center;
}

div#video_link{
  margin-top: 20px;
  text-align: center;
  font-size: 0.5em;
  
}

div#git_modal{
  width: 800px;

}

div.git_modal_images{
  float:left;
  clear: left;
  margin-top: 20px;


}
img.git_modal_logo{
  max-height: 100px;

}

.centre{
  margin: 0 auto;
}

/*Git modal*/
div.modal_title h1{
  font-family: loveya, Palatino Linotype;
  font-size: 32px;
  text-align: center;
  color: #996600;
  margin-bottom: 40px;
}

div#git_modal p{
  color: #669999;
}

div.git_modal_text{
  margin-top: 20px;
}

div#git_modal_cont{
  width:700px;
  height:500px;
  overflow:scroll;
}

.port_logo{
  height: 150px;
  width: 150px;
  display: block;
  margin: 0 auto;
}

.left{
  float:left;
}

.margin-left-right{
  margin: 0px 5px;
}

#port_div{
  width: 600px;
  margin: 0 50px;
}

#port_div p{
  width: 145px;
  color: #669999;
}

.view_border_red{
  border: 2px solid red;
}


/*Media Query for 360ps phone */

@media all and (max-width:360px){

   img#main_img{ display: none; }
   div#main-container{margin-left: 0px;}
   h1.title{font-size: 3em;}
   div.sub_title ul li{font-size: .75em;}
   div#more_skills p#coding_skills{font-size: 15px; }
   div#bottom_info_box2 div:not(:first-child) {
    margin-left: 40px;
   }

   #work_main_text_container div#bottom_info_box2 div.logo{
    width: 150px;
    height: 150px;
    margin: 0px 60px;
    text-align: center;
   }

   #work_main_text_container div#bottom_info_box2 div.logo a img#portfolio{
       margin-left: 0px;
   }

   a.text_link{
        text-align: center;
    }

}



@media all and (max-width:800px){

   img#main_img{ display: none; }
   div#main-container{margin-left: 0px;}
   h1.title{font-size: 3em;}
   div.sub_title ul li{font-size: .75em;}
   div#more_skills p#coding_skills{font-size: 15px; }
   div#bottom_info_box2 div:not(:first-child) {
    margin-left: 40px;
   }

   #work_main_text_container div#bottom_info_box2 div.logo{
    width: 150px;
    height: 150px;
    margin: 0px 60px;
    text-align: center;
   }

   #work_main_text_container div#bottom_info_box2 div.logo a img#portfolio{
       margin-left: 0px;
   }

    a.text_link{
        text-align: center;
    }


}