@font-face {
    font-family: 'loveya';
    src: url('../fonts/LoveYaLikeASister.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sketchbook';
    src: url('../fonts/Sketch_Block.ttf');
    font-weight: normal;
    font-style: normal;
}

html{
    height: 100%;
}

body {
	background-image: url('../img/stressed_linen_@2X.png');
	background-repeat: repeat;
    height: 100%;
}

div#main-container{
    height: 100%;
}

div#main_img_cont {

    position: fixed;

}



img#main_img{
    position: fixed;
    height: 100%;
}

div#home_main_text_container{
    display: block;
}

div#work_main_text_container{
    display: none;
}

/*@media all and (max-height: 700px){
   img#main_img{height: 700px;}
}*/

/*@media all and (min-height: 700px){
   img#main_img{width: 100%; }
}*/

h1.title{
    font-family: loveya, Palatino Linotype;
    font-size: 4em;
    color: #996600;
    line-height: 1em;
    margin-top: 2em;
}

div.sub_title{
    font-family: loveya, Palatino Linotype;
    font-size: 2.5em;
    color: #996600;
    line-height: 0.5em;

}
ul.skills_list{
    list-style-type: none;
    margin-top: 0.5em;
}

li span{
    color: #997767;
}

p#coding_skills{
    font-family: loveya, Palatino Linotype;
    font-size: 25px; color: #669999;
    line-height: 1em;
}

div.bottom_info_box{
   margin-top: 1em;

}


div.logo{
    float: left;
}

div.bottom_info_box div:not(:first-child) {
    margin-left: 25px;
    margin-bottom: 50px;
}

div#bottom_info_box2 div:not(:first-child) {
    margin-left: 75px;
    margin-bottom: 50px;
}


.twitter-follow-button{
    padding-bottom: 2px;
    font-size: 20px;
}


#mail{
    font-family: loveya, Palatino Linotype;
    font-size: 0.5em;
    color: #636363;
}

/* Workpage */
ul#work_sub_list{
    color: #669999;
    font-size: 1em;

}

img#git{
    max-height: 100px;
}

img#stack{
    max-height: 100px;
}

img#portfolio{
    max-height: 150px;
    margin-left: 20px;
}

h2.link_text{
    font-size: 0.75em;
}

/*







#cv_sub_title{position: relative; top:-50px; left: 65px; font-family: loveya, Palatino Linotype; font-size: 18px; color: #679967; line-height: 50px; line-height: 25px;}

#monsoon{position: relative; top:0px; left: 65px; border-radius: 5px; }

#cards{position: relative; top:0px; left: 105px;}

#java{ position: relative; top:-35px; left: 150px;}

#hover_java{ background-color: #181818; opacity: 1; border: 1px solid #956300; color: #956300; font-size: 14px; font-family: tahoma; height: 235px; width: 500px; position: relative; top: -270px; left: 500px; padding: 4px; visibility: hidden;}

#hover_monsoon{ background-color: #181818; opacity: 1; border: 1px solid #956300; color: #956300; font-size: 14px; font-family: tahoma; height: 235px; width: 500px; position: relative; top: -270px; left: 550px; padding: 4px; visibility: hidden; }

#pics1{height: 175px; width:250px; position: relative; top:-180px; left: 65px; border-radius: 5px;}
#pics2{height: 175px; width:250px; position: relative; top:-180px; left: 65px;border-radius: 5px;}
#pics3{height: 175px; width:250px; position: relative; top:0px; left:-443px;border-radius: 5px;}
#pics4{height: 175px; width:250px; position: relative; top:0px; left: -443px;border-radius: 5px;}

#spotify{position: relative; top:0px; left: -420px; border: 5px solid #85b51a; border-radius: 5px;}

#dont{position: relative; top:-360px; left: 890px; height: 360px; width: 280px; }

#down_button {  position: absolute; top: 88%; left: 50%; display: ; }
#down_button img{ height: 80px; width: 80px;}
#down_text {font-family: loveya, Palatino Linotype; font-size: 25px; color: #669999;
position: absolute; top: 1%; left: 85%; visibility: hidden; height: 10px; }

#up_button{position: absolute; top: 2%; left: 50%; display: ; }
#up_button img{ height: 80px; width: 80px;}
#up_text{font-family: loveya, Palatino Linotype; font-size: 25px; color: #669999;
position: absolute; top: 1%; left: 95%; visibility: hidden;}

#home_down_button {  position: absolute; top: 88%; left: 50%; display: none; }
#home_down_button img{ height: 80px; width: 80px;}
#home_down_text {font-family: loveya, Palatino Linotype; font-size: 25px; color: #669999;
position: absolute; top: 1%; left: 85%; visibility: hidden; height: 10px; }

#home_up_button{position: absolute; top: 2%; left: 50%; display: none; }
#home_up_button img{ height: 80px; width: 80px;}
#home_up_text{font-family: loveya, Palatino Linotype; font-size: 25px; color: #669999;
position: absolute; top: 1%; left: 95%; visibility: hidden;}

/****************************************************************************************/
/*#spalsh{background-color: #272822; width:1200px; height: 100%; margin-top: 10%; border: solid 5px red; display: }
p#spalsh_text{ margin-left: 100px; margin-right: 100px; font-family: loveya, Palatino Linotype; font-size: 36px; color: #996600; }*/